#cloud-config
package_update: true
package_upgrade: true

packages:
  - ca-certificates
  - curl
  - apt-transport-https
  - gnupg
  - lsb-release

runcmd:
  # Azure CLI
  - curl -sL https://aka.ms/InstallAzureCLIDeb | bash

  # kubectl (binary)
  - curl -fsSL -o /usr/local/bin/kubectl "https://dl.k8s.io/release/$(curl -fsSL https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
  - chmod +x /usr/local/bin/kubectl
  - kubectl version --client

  # (opcional) bash completion
  - echo "source <(kubectl completion bash)" >> /home/azureuser/.bashrc
  - chown azureuser:azureuser /home/azureuser/.bashrc
